<ion-header>
  <ion-toolbar>
    <ion-title>listagem</ion-title>
    <ion-back-button>Voltar2</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Produtos</h1>


  <ion-list>
      <ion-item-sliding *ngFor="let prod of listaProdutos">
        
        <ion-item>
          <ion-label>{{prod.descricao}}</ion-label>
          <ion-label>{{prod.unidade}}</ion-label>
          <ion-label>{{prod.venda}}</ion-label>
          <ion-label>{{prod.id}}</ion-label>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option (click)="edit(prod.id)"><ion-icon name="create-outline"></ion-icon></ion-item-option>
            <ion-item-option (click)="delete(prod.id)"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
    </ion-list>
  
  <ion-button (click)="ShowPageHome()">Voltar</ion-button>
  <ion-button (click)="ShowPageCadastro()">Cadastro</ion-button>

  <ion-button href="http://www.etecitu.com.br">Página da Etec</ion-button>

</ion-content>