<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCadastro">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-input formControlName="descricao"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="fixed">Custo R$</ion-label>
        <ion-input formControlName="custo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Venda R$</ion-label>
        <ion-input formControlName="venda"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Estoque</ion-label>
        <ion-input type="number" value="0" formControlName="estoque"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Unid. Medida:</ion-label>
          <ion-select value="un" okText="Confirma" cancelText="Cancela" formControlName="unidade">
            <ion-select-option value="dz">Dúzia</ion-select-option>
            <ion-select-option value="mt">Metros</ion-select-option>
            <ion-select-option value="kg">Quilos</ion-select-option>
            <ion-select-option value="sc">Saco</ion-select-option>
            <ion-select-option value="un">Unidade</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-checkbox color="primary" formControlName="ativo"></ion-checkbox>
        <ion-label position="fixed">Ativo</ion-label>
      </ion-item>

      <ion-button (click)="ShowPageListagem()">Voltar</ion-button>
      <ion-button (click)="SalvarCadastro()">Salvar</ion-button>

    </ion-list>
    </form>
  

</ion-content>